/* estilos da pesquisa */
main div#janela_formulario {
    width:750px;
    margin:0px auto 100px;
    
    
  
}

main div#janela_formulario form {
    
    width:850px;  
    margin:0px auto;
    
}


main div#janela_formulario form h2  {
   font-size: 18px;
     font-family: 'Roboto';
    color:dimgray;
  font-style: normal;
}

main div#janela_formulario form h3  {
    font-family: 'roboto';
    font-size:14px;
    color:dimgray;
    margin:0%;
    padding:1%; 
    border-bottom:2px solid #c4051c;
}
main div#janela_formulario form h4  {
    font-family: 'roboto';
    font-size:12px;
    color:dimgray;
    margin:0%;
    padding:1%; 
}
main div#janela_formulario form label{
    text-align: left;
    font-family: 'Roboto';
    color:dimgray;
    font-size: 12px; 
    
   
}
main div#janela_formulario form select{
    text-align: left;
    font-family: 'Roboto';
    color:dimgray;
    font-size: 12px; 
    
   
}
 
main div#janela_formulario form input[type="button"] {
    height:25px;
    width: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    background: #c4051c; 
    color: white;
    margin-top: 1px;
    
}


main div#janela_formulario form input[type="text"] {
    font-family: 'Roboto';
    font-size: 11px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background: #FFFAFA	 ; 
    margin-top: 5px;
    
}

main div#janela_formulario form input[type="submit"] {
    
    display: block;
    padding:2px 15px;
    margin-left: 700px;
    margin-top:10px;
    color: #fff;
    border:0;
    border-radius: 2px;
    background-color: #c4051c;
    outline: none;
    cursor: pointer;
}


main div#janela_formulario form input[type="reset"] {
    display: block;
    padding:2px 15px;
    margin-top:10px;
    color: #fff;
    border:0;
    border-radius: 2px;
    background-color: darkgrey;
    outline: none;
    cursor: pointer;
}


main div#janela_formulario strong{
    font-family: 'Tahoma';
    color: #444444;
    font-size: 10px;
}
 main div#janela_consultar a {
    margin-left: 800px;
     margin-top:10px;

}

 main div#janela_gerar a {
  
    width: 130px;
    padding:1px 10px;
    color: white;
    border-radius: 2px;
    background-color: #228B22	;
}
main div#janela_gerara a {
  
    width: 130px;
    padding:1px 10px;
    color: white;
    border-radius: 2px;
    background-color: #c4051c;
}


main div#janela_formulario h5{
     border-radius: 2px;
    background-color: #cccccc;
    color: #c4051c;
}


main div#container{
     margin-left: -2px;
    font-family: 'Tahoma';
    color: white;
     font-size: 10px;
    background: #004050;
  width: 850px;
  height: 210px;
  overflow: auto;
  border: 2px solid #c4051c;

}
main div#container a {
    text-align: center;
     margin-left: -4px;
     margin-top: -2px;
     width: 60px;
    padding:2px 10px;
    color: white;
    border-radius: 2px;
    background-color: #c4051c;
}


