div#header_topo {
    width:25%;
    height:50px;
    background-color:#ffffff;
    border-bottom:5px solid #990000;
}
div#header_topo {
    position: absolute;
    top:0%;
    left:75%;
    text-align: justify;
}
div#header_topo h5 {
   color:#990000;
    font-family: monospace;
    font-size: 12px;
    font-weight: 100;
    margin:5px 0 0 3; 
    padding:0; 
}

a:hover{
    
    background-color: #990000;
    color: black;
}